<div class="container color col-md-4 my-5 ">
    <h1 class="text-center display-3">LOGIN</h1>
    <form class="form-group">
        <div class="">
            <label class="form-label">Enter your Registered Email</label>
        </div>
        <div>
            <input class="form-control col-md" type="email">
        </div>
        <div class="">
            <label class="form-label">Enter Password</label>
        </div>
        <div class="">
            <input class="form-control col-md" type="password">
        </div>
        <div class="text-center">
            <button type="submit" class=" my-3 btn btn-dark">LOGIN</button>
        </div>
    </form>
</div>
<div class="container fluid text-center">
    <button class="btn" disabled>
        <h2 class="display-3">GRANDSTAND SEATING LAYOUT</h2>
    </button>
</div>